body {
	background: #eee;
	color: #333;
	font: Garamond, Georgia, "Times New Roman", Times, serif;
	margin-left: 55px;
	margin-bottom: 20px;
	margin-top: 40px;
}

a {
	color: #237fa1;
	text-decoration: none;
}

h2 a {
}

header a {
	color: black;
	opacity: .5;
}

a:hover {
	color: #c00;
}

.day {
	opacity: .5;
}

.post {
	width: 425px;
	padding: 15px;
	margin: 15px 0;
	background: #f9f9f9;
	border-radius: 3px;
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

.post p:first-child {
	margin-top: 0;
}

blockquote {
	font-size: 90%;
	opacity: 0.7;
	margin-left: 0;
	padding-left: 8px;
	border-left: 2px solid #ddd;
}
