<div class="post">
    <article class="content">{{ .Content }}</article>
    <small>
        <a href="{{ .RelPermalink }}"><time datetime="{{ .Params.date }}">{{ if eq (.Scratch.Get "kScope") "kScopeList" }}{{ .Params.date.Format "3h04" }}{{else}}{{ .Params.date.Format "Jan 02 2006, 3h04" }}{{end}}</time></a>
        
        {{ with .Params.tags }}
        <span>tagged with:</span> 
        <span>
            {{ range . }}{{ with $.Site.GetPage (printf "/tags/%s" ( . | urlize)) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ end }}{{ end }}
        </span>
        {{ end }}
    </small>
</div>