{{ range .Paginator.Pages }}
<article class="post-list">
    <div class="title-group">
        {{ if eq .Type "photos" }}
        <div class="album">
            <div class="date"><h5>{{ .Params.display_date }}</h5></div><div class="location"><h5>{{ .Params.location }}</h5></div>
        </div>
        {{ else }}
        <div class="date"><h5>{{ .Params.date.Format "Jan 02, 2006" }}</h5></div>
        {{ end }}
    </div class="title-group">

    <div class="content">
        {{- partial "article.html" . -}}
        <a href="{{ .RelPermalink }}">Read more ›</a>
    </div>

</article>
{{ end }}